    <main class="main_container">
        <div class="sendme">
            <p>Interested in what you see?
                <br>
                    <br>Shoot me an email <a href="mailto:ohis.yingshiuan@gmail.com">ohis.yingshiuan@gmail.com</a>
                    <br>
                    <br>
                <div class="media_icon">
                    <a href="mailto:ohis.yingshiuan@gmail.com"><i class="fas fa-paper-plane"></i></a>
                </div>
            </p>
        </div>
    </main>  
  
  
    <footer>
        <div class="footer_container">
            <div class="footer_main">
                <div class="topic">
                <h2>Ying-Shiuan Chen
                    <a href="mailto:ohis.yingshiuan@gmail.com"><i class="material-icons">email</i></a>
                </h2>
                </div>
            </div>
            
            <div class="navbar_footer">
                <ul>
                    <li class="logo"><a href="{{ '/'|url }}">YShiuan_C</a></li>
                    {% for href, title in [ ['/about-me', 'About me'], ['/resume', 'Resume'], ['/portfolio', 'Portfolio'], ['/contact', 'Contact'] ] %}
                    <li class="item">
                        <a href="{{ href|url }}">{{ title }}</a>
                    </li>
                    {% endfor %}
                    <li class="navbarToggle"><a href="#!"><i class="material-icons">menu</i></a></li>
                </ul>
            </div>
            
            <div class="media">
                <div class="topic"><h2> </h2></div>
                <div class="media_icon">
                    <!--   
                    <a href="https://github.com/yingshiuan" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://instagram.com/yshiuan_c?igshid=ejehd1tl8ce" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCFpat39kIqYmYTbbfdoBNfA" target="_blank"><i class="fab fa-youtube"></i></a>
                    -->
                    <a href="https://vimeo.com/yshiuanc" target="_blank"><i class="fab fa-vimeo-v"></i></a>
                    <a href="https://yshiuan-c.medium.com" target="_blank"><i class="fab fa-medium-m"></i></a>
                    <a href="https://www.linkedin.com/in/chenyingshiuan/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            
            <div class="resouce">
                <ul class="sitemap">
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>
            </div>
            
            <div class="footer_copyright">
                <li>
                    <p>&copy 2021 <a href="{{ '/'|url }}">Ying-Shiuan Chen</a> All rights reserved</p>
                </li>
            </div>
        </div>          
    </footer>
  
  
    <!--script java-->
    <script>        
        /* Click Hide mennu */
        $(document).ready(function(){
            $('.navbarToggle').click(function(){
            $('.item').toggleClass("show");
            $('ul li').toggleClass("hide");          
            });
        });

        
        /* dark-mode*/
        const btn = document.querySelector(".mode-button");
        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

        btn.addEventListener("click", function () {
            if (prefersDarkScheme.matches) {
                document.body.classList.toggle("light-theme");
            } else {
                document.body.classList.toggle("dark-theme"); 
            }
        });

        /* switch button */
        function mode() {
        if (document.getElementById("mode-button").innerHTML === "Dark Mode") {
            document.getElementById("mode-button").innerHTML = "Light Mode";
        } else {
            document.getElementById("mode-button").innerHTML = "Dark Mode";
        }
        }
        

        
        
       
        
       
        



    </script>