{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{% include 'greeting.html' %}

 
    <!-- work gallery-->

    <div class="work">
        <ul class="row">
            <!-- 1 -->
            <li class="work_item homepage_cover col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <a href="portfolio/#interaction">
                    <div class="work_item_container">
                        <div class="work_item_container_description"></div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/topics-03.png" alt="interaction-design">
                        </div>
                    </div>
                </a>
            </li>

            <!-- 2 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2 ">
                <a href="portfolio/motion-graphics/">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Motion</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/rec_loading.gif" alt="motion">
                        </div>
                    </div>
                </a>
            </li>

            <!-- 3 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <a href="portfolio/#interaction">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Graphics</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/guideline.png" alt="guideline">
                        </div>
                    </div>
                </a>
            </li>

            <!--  4-->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide">
                <a href="#!">
                    <div class="work_item_container">
                        <div class="work_item_container_description"></div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/yourday.gif" alt="howsyourday">
                        </div>
                    </div>
                </a>
            </li>

            <!-- 2 Height work__item--bottom 5-->
            <li class="work_item homepage_cover work__item--tall work__item--bottom col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <a href="#">
                    <div class="work_item_container">
                        <div class="work_item_container_description">5</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/comingsoon.png" alt="">
                        </div>
                    </div>
                </a>
            </li>

            <!-- 2 Height 6-->
            <li class="work_item homepage_cover work__item--tall col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <a href="#">
                    <div class="work_item_container">
                        <div class="work_item_container_description">6</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/comingsoon.png" alt="">
                        </div>
                    </div>
                </a>
            </li>

            <!-- 7 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <a href="portfolio/#interaction">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Web Development</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/website.png" alt="web-desgin-develop">
                        </div>
                    </div>
                </a>
            </li>



            <!-- large  hide  pull^1 7+1-->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-md-pullup-1 col-lg-2 col-lg-hide">
                <a href="portfolio/#interaction">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Information Architecture</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/ia.png" alt="">
                        </div>
                    </div>
                </a>
            </li>


            <!-- Square tall 8-->
            <li class="work_item homepage_cover work__item--tall col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <a href="">
                    <div class="work_item_container">
                        <div class="work_item_container_description"></div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/comingsoon.png" alt="">
                        </div>
                    </div>
                </a>
            </li>


            
            <!-- 2 Blcok Hide pull^1  9-->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-md-pullup-1 col-lg-2">
                <a href="portfolio/">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Computational Desgin</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/wave.gif" alt="">
                        </div>
                    </div>
                </a>
            </li>

            <li class="work_item ol-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>
            <li class="work_item ol-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>



            <!-- 2 Blcok Hide pull^2 10 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-pullup-2">
                <a href="portfolio/#digital-fabrication">
                    <div class="work_item_container">
                        <div class="work_item_container_description">3D Modeling</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/modeling.gif" alt="">
                        </div>
                    </div>
                </a>
            </li>

            <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>
            <li class="work_item col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide"></li>


            <!-- 11 all hide -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xs-hide col-sm-hide col-md-hide col-lg-hide">
                <div class="work_item_container">
                    <div class="work_item_container_description"></div>
                    <div class="work_item_container_content">
                        <img src="" alt="">
                    </div>
                </div>
            </li>

            <!-- Video pull^1<1 12 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-4 col-md-pull-left-1 col-md-pullup-1">
                <a href="portfolio/#digital-fabrication">
                    <div class="work_item_container">
                        <div class="work_item_container_description"></div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/topics-02.png" alt="digital-fabrication">
                        </div>
                    </div>
                </a>
            </li>


            <!-- pull^2 >2  13-->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-push-right-2 col-md-pullup-2">
                <a href="portfolio/">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Strategic Design</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/digital.gif" alt="strategic design">
                        </div>
                    </div>
                </a>
            </li>

            <!-- 14 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2 col-md-push-right-3 col-md-pullup-1">
                <a href="portfolio/">
                    <div class="work_item_container">
                        <div class="work_item_container_description"></div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/coordinate.png" alt="">
                        </div>
                    </div>
                </a>
            </li>



            <!-- 15-->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <a href="#!">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Digital Prototyping<br>(coming soon)</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/terminal.gif" alt="terminal">
                        </div>
                    </div>
                </a>
            </li>



            <!-- 16 -->
            <li class="work_item homepage_cover col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <a href="portfolio/#robotic-fabrication">
                    <div class="work_item_container">
                        <div class="work_item_container_description"></div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/topics-01.png" alt="robotic-fabrication">
                        </div>
                    </div>
                </a>
            </li>

            


            <!-- 17 -->
            <li class="work_item homepage_cover col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <a href="portfolio/#robotic-fabrication">
                    <div class="work_item_container">
                        <div class="work_item_container_description">Robotic Arm</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/Robot.png" alt="robotic-fabrication">
                        </div>
                    </div>
                </a>
            </li>



            <!--18 -->
            <li class="work_item homepage_cover work__item--ambient col-xs-6 col-sm-6 col-md-3 col-md-hide col-lg-hide">
                <a href="#!">
                    <div class="work_item_container">
                        <div class="work_item_container_description">18</div>
                        <div class="work_item_container_content">
                            <img src="portfolio/cover/yourday.gif" alt="howsyourday">
                        </div>
                    </div>
                </a>
            </li>
        </ul>        
    </div>



  {{ this.body }}
{% endblock %}
